/Client.log
/ComClient.log
/ComServer.log
/config.json
/DokoServer.log
/Main.log
/Players.log
/Server.log
/Stich.log
/build/
/.gradle/
/.idea/
/gradle/
/build/
/STEVE.log
/KINGSLEY.log
/Client.log
/Players.log
/BOB.log
/Main.log
/Server.log
/Stich.log
/config.json
